<h1> Stack Overflow</h1>

<%= link_to "Add new user", new_user_path %>


<% if @users.any? %>
    <% @users.each  do |user| %>
    <ul>
     <li><%= link_to user.name, user_path(user) %></li>
    </ul>
    <% end %>
  <% end %>
