<h4>Welcome <%= @user.name %></h4>

<%= link_to "New Question", new_user_question_path(@user) %>

<% if @user.questions.any? %>
  <% @user.questions.each do |question| %>
  <ul>
    <li><%= link_to question.body, user_question_path(question) %></li>
  </ul>
  <% end %>
<% end %>
